*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2796e;
    width: 55%;
    min-height: 100vh;
    padding: 10px 20px;
    
}
.image{
    background-image: url("./images/illustraction.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /*boder: 5px solid back;*/
    height: 65%;
}
.text{
    text-align: center;
    color: white;
    font-size:18px ;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    /* max-width: 100%; */
    padding: 50px;
    /* box-shadow: ; */
}
.title